/* INIZIO DEBUG */

section{
    min-height: 1000px;
}

/* FINE DEBUG */



/* INIZIO NAV */

.navigation {
    position: fixed;
    list-style-type: none;
    right: 30px;
    top: 42%;
}

.navigation a {
    /* -webkit-transition: all 0.3s; */
    /* -moz-transition: all 0.3s; */
    /* -ms-transition: all 0.3s; */
    /* -o-transition: all 0.3s; */
    transition: all 0.3s;
    /* -webkit-border-radius: 100%; */
    /* -moz-border-radius: 100%; */
    /* -ms-border-radius: 100%; */
    border-radius: 100%;
    border: 2px solid transparent;
    display: block;
    margin-bottom: 10px;
    width: 16px;
    height: 16px;
    /* overflow: hidden; */
}

.navigation a span {
    /* -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%; */
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.43);
    display: block;
    width: 16px;
    height: 16px;
    /* vertical-align: top; */
}

.navigation a.active, .navigation a:hover {
    border: 2px solid white;
}

/* FINE NAV */



/* INIZIO BODY */

body{
    margin: 0px;
    color: white;
}

.projects{
    background-color: #5C5C5C;
}
.presentation, .contacts{
    background-color: #141414;
}

h1{
    margin: 0px;
}

.image{
    min-height: 1000px;
    background: black url(../img/graph.jpg) no-repeat center;
    background-size: contain;
}

.container{
    min-height: 1000px;
    width: 70%;
    margin: auto;
    font-family: Heiti SC;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.container h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.container h2{
    font-size: 30px;
}

.container p{
    font-size: 20px;
    text-align: justify;
}

.progetto {
    line-height: 70%;
    margin: 10px 0;
}

.titolo-progetto {
    font-size: 25px;
    text-decoration: none;
    background-color: white;
    color: #5C5C5C;
    line-break: anywhere;
    line-height: 100%;
}

.descrizione-progetto {
    font-size: 20px;
}

section{
    min-height: 1000px;
    padding: 50px 0;
}

/* FINE BODY */