html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
}

html{
    background-image: linear-gradient(to bottom, #7b4397, #dc2430 25% 75%, #7b4397);
    font-family: Avenir;
    font-weight: bold;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    min-height: 100%;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 30%;
}

.pointer{
    cursor: pointer;
    align-self: center;
}